<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


<!--
	&lt;!&ndash; 生成远程服务代理，可以和本地bean一样使用demoService &ndash;&gt;
	<dubbo:reference id="tokenService" interface="com.xinguang.usercentergate.api.TokenServiceInterface" group="${dubbo.group}" check="false" version="0.0.1"/>

	<dubbo:reference id="tbbAccountService" interface="com.xinguang.tubobo.account.api.TbbAccountService"  group="${dubbo.group}" version="0.0.1" check="false"/>
	<dubbo:reference id="tbbRateService" interface="com.xinguang.tubobo.rate.api.TbbRateService"  group="${dubbo.group}" version="0.0.1" check="false"/>


	&lt;!&ndash; 生成远程服务代理，可以和本地bean一样使用demoService &ndash;&gt;
	&lt;!&ndash;<dubbo:reference id="taskCenterToMerchantService" interface="com.xinguang.tubobo.merchant.api.TaskCenterToMerchantServiceInterface" group="${dubbo.group}" version="0.0.1" check="false"/>&ndash;&gt;
	<dubbo:reference id="taskDispatchService" interface="com.xinguang.taskcenter.api.TaskDispatchService" group="${dubbo.group}" version="0.0.1" check="false"/>

	<dubbo:reference id="riderToAdminServiceInterface" interface="com.xinguang.tubobo.rider.api.RiderToAdminServiceInterface" version="0.0.1" group="${dubbo.group}" check="false"/>
	<dubbo:reference id="adminToMerchantService" interface="com.xinguang.tubobo.api.AdminToMerchantService" version="0.0.1" group="${dubbo.group}" check="false"/>


	<bean id="tbbRateServiceHystrixProxy" class="com.xinguang.tubobo.rate.api.hystrix.TbbRateServiceHystrixProxy" init-method="init">
		<property name="target" ref="tbbRateService"/>
	</bean>-->
</beans>