<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 加载配置属性文件 -->
	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="sms_platform" />
	<!-- 使用multicast广播注册中心暴露服务地址 -->
	<dubbo:registry protocol="zookeeper" group="tbbdev" address="zk01.ops.com:2181,zk02.ops.com:2181,zk03.ops.com:2181" />
	<!-- 用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="20890"  />

	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service version = "0.0.1" interface="TestServer" group="xinguang"  ref="frankTestServer" timeout="3000"/>
	<!--和本地bean一样实现服务-->
	<bean id="frankTestServer" class="TestServerImpl" />

</beans>